/**
  *
  * COLORS
  *
**/


$primary: #546e7a;
$active-link: #0078ff;
$link-divider: #1B283B;
$hero-h1: #142243;

$hero-bg: #f2f8fa;
$hero-bg-gradient: linear-gradient($hero-bg, white);

$feature-h2: #90A4AE;
$feature-h1: #142243;
$article-container: white;
$logos-title-h3: #142243;
$CTA-text: #142243;
$CTA-author: #546E7A;

$btn-text: #ffffff;
$btn-bg: #0078ff;

$feature-4-bg: #a3ccff;

$footer-bg: #142243;
$footer-text: #90a4ae;
$footer-title: #ffffff;
